body {
    background-color: rgb(60, 60, 60);
    margin: 0 auto;
    user-select: none;
    overflow: hidden;
}

canvas {
    display: block;
}

#game {

    background-color: rgb(225, 225, 225);
    margin-bottom: 4px;
}

#score {

    background-color: rgb(200, 200, 200);
}

#view {
    padding: 4px;
}