body {
    background-color: rgb(50, 50, 50);
    margin: 0 auto;
    user-select: none;
    overflow: hidden;
}

canvas {
    display: block;
}

#game {

    /* background-color: rgb(225, 225, 225); */
    background-color: rgb(200, 200, 225);
    margin-bottom: 4px;
}

#score {

    background-color: rgb(150, 150, 150);
}

#view {
    padding: 4px;
}